/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #333;
  color: white;
  padding: 10px;
}

header nav ul, footer nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

header nav ul li, footer nav ul li {
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
